# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
!*.xcodeproj/project.pbxproj
xcuserdata/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~

# Secrets
*.env
